<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="recipe-app"></ion-back-button>
    </ion-buttons>

    <ion-title>{{loadedRecipe.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-img src="https://picsum.photos/100/50"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list  class="ion-padding">
          <h1>Ingredients</h1>

          <ion-item *ngFor="let ingredient of loadedRecipe.ingredients">
            {{ingredient.name}} x {{ingredient.amount}}
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
